html{
    font-size: 100%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden!important;
    font-family: var(--theme-font);
}

p{
    @apply text-[17px];
}


/* for containers */
.container{
    @apply mx-auto max-w-[calc(100%-15px)] md:max-w-[calc(100%-20px)] lg:max-w-[calc(100%-80px)] xl:max-w-[calc(100%-110px)];
}

/* for nav links */
.navlink{
    @apply text-[17px] font-semibold text-gray-500;
}
.navlink.active{
    @apply text-black;
}

/* navs and search */
.navs-and-search{
    @apply absolute top-[90px] max-h-0 lg:max-h-max transition-all duration-300 left-0 lg:static bg-white lg:bg-transparent w-full lg:w-auto flex flex-col lg:flex-row justify-between items-center gap-5 lg:gap-8 xl:gap-40 overflow-hidden shadow-sm lg:shadow-none;
}
.navs-and-search.open{
    @apply max-h-[500px] transition-all duration-300 border-b-2 border-b-gray-300 py-5 lg:border-b-0;
}

/*sidebar nav links*/
.admin-sidebar-menu{
    @apply inline-block w-[200px] relative pl-5;
}
.admin-sidebar-menu.active{
    @apply !text-white;
}
.admin-sidebar-menu.active::after, .admin-sidebar-menu:hover::after{
    content: "";
    @apply w-2 h-full absolute top-0 left-0 bg-primary rounded-r-md;
}
.admin-sidebar-menu.active::before {
    content: "";
    @apply w-[200px] h-full absolute top-0 left-[20px] bg-primary -z-10 rounded-md;
}